body {
  font-family: sans-serif;
  width: 100%;
  height: 90vh;
}
main {
  display: flex;
}

ul {
  list-style: none;
  text-align: center;
}

li {
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 5px 0px;
}

.nameInfo {
  width: 150px;
}

.loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  background-color: #74b9ff;
  border-radius: 5px;
  opacity: 0;
}

.requesting {
  margin-right: 10px;
  font-weight: 600;
  color: #ffffff;
}

.coinItem {
  width: 400px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #b2bec3;
  margin: 10px 0px;
}

.first i {
  color: #fdcb6e;
}

.second i {
  color: #bdc3c7;
}

.third i {
  color: rgb(128, 0, 0);
}

#rotating__logo {
  width: 25px;
  height: 25px;
  animation: loading 2s infinite linear;
  text-align: center;
  transform-origin: 50% 50%;
  font-size: 25px;
  color: #ffffff;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}
